<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin: 5px;">
        <h1 style="border: 2px solid black; padding: 2px ;">Welcome To Ron Hazan First Website</h1>
        <img src="../static/dovi.jpg" width=500 hight=300> <br>
        
        <button style="font-size: 20px;">
            More About us
        </button>
        <button style="font-size: 20px;">
            Special Events
        </button>
        <button style="font-size: 20px;">
            Operational History
        </button>
        <br>
        <br>
        <a href="file:///C:/Users/Saar/Documents/Web%20Assignements/Ron-Hazan/templates/Create%20Contact.html">
        <button style="font-size: 20px;">
            Create Contanct
        </button>
    </a>
        

   
    </div>
    
</body>
</html>