<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CssFile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script defer src="../static/JsFile.js"></script>


    <title>Document</title>
</head>
<body >
    <nav id="navbar2">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo" id="logo1">Ron Hazan First Website </label>
        <ul>
          <li><a href="hw1.html">Home</a></li>
          <li><a href="About.html">About</a></li>
          <li><a href="Services.html">Services</a></li>
          <li><a href="Create Contact.html">Contact</a></li>
          <li><a href="Services.html">Feedback</a></li>
        </ul>
      </nav>
      
      <section></section>
   
</body>
</html>